streamlit>=1.26.0
langchain>=0.3.1
langchain-community>=0.0.230
langchain-text-splitters>=0.1.0
langchain-huggingface>=0.0.31
langchain-ollama>=0.0.12
sentence-transformers>=2.2.2
faiss-cpu>=1.7.4
pypdf>=3.15.1
